

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  color: #333333;
}
*, ::before, ::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Circe';
  src: url('assets/fonts/Circe-Thin.eot');
  src: local('assets/fonts/Circe Thin'), local('Circe-Thin'),
  url('assets/fonts/Circe-Thin.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Circe-Thin.woff2') format('woff2'),
  url('assets/fonts/Circe-Thin.woff') format('woff'),
  url('assets/fonts/Circe-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('assets/fonts/Circe-Light.eot');
  src: local('assets/fonts/Circe Light'), local('Circe-Light'),
  url('assets/fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Circe-Light.woff2') format('woff2'),
  url('assets/fonts/Circe-Light.woff') format('woff'),
  url('assets/fonts/Circe-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CirceRegular';
  src: url('assets/fonts/Circe-Regular.eot');
  src: local('assets/fonts/Circe'), local('Circe-Regular'),
  url('assets/fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Circe-Regular.woff2') format('woff2'),
  url('assets/fonts/Circe-Regular.woff') format('woff'),
  url('assets/fonts/Circe-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'CirceBold';
  src: url('assets/fonts/Circe-Bold.eot');
  src: local('assets/fonts/Circe Bold'), local('Circe-Bold'),
  url('assets/fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Circe-Bold.woff2') format('woff2'),
  url('assets/fonts/Circe-Bold.woff') format('woff'),
  url('assets/fonts/Circe-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Circe Extra';
  src: url('assets/fonts/Circe-ExtraBold.eot');
  src: local('assets/fonts/Circe Extra Bold'), local('Circe-ExtraBold'),
  url('assets/fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Circe-ExtraBold.woff2') format('woff2'),
  url('assets/fonts/Circe-ExtraBold.woff') format('woff'),
  url('assets/fonts/Circe-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

.container {
  padding: 0 25px;
  width: 100%;
  max-width: 1169px;
  margin: 0 auto;
}

.text-white {
  color: #ffffff;
}

h2, .h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 0.5;
}

.fz24 {
  font-size: 24px;
}
.fz16 {
  font-size: 16px;
}

.page {
  position: relative;
  padding: 150px 0 90px;
  overflow: hidden;
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  &__fon {
    position: absolute;
    top: 31%;
    left: 0;
  }
  &::after {
    content: "";
    background: #F4F4F4;
    position: absolute;
    bottom: -27%;
    left: 0;
    height: 55%;
    width: 100%;
    z-index: -1;
    transform: skewY(-14deg);
  }
}

.blockInf {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 125px;
  &-icon {
   position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 3;
  }
  &__left {
    width: 50%;
  }
  &__right {
    width: 50%;
    font-size: 0;
  }
  .yearBox {
    position: relative;
    padding: 20px;
    height: 330px;

    .h2 {
      margin-bottom: 13px;
    }
    .desc {
      max-width: 412px;
    }
  }
  &__img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }
  &__desc {
    position: relative;
    padding: 68px 0 60px 48px;
    background-color: #A5E5F4;
    line-height: 2.1;
    width: calc(100% + ((100vw - 1136px)/2));
    .fz16 {
      max-width: 537px;
    }
  }
}

.yearBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  svg {
    position: absolute;
    z-index: -1;
  }
  .h2 {
    margin-bottom: 28px;
  }
  .desc {
    padding-left: 96px;
    line-height: 2.1;
  }
  &__one {
    width: 100%;
    margin-bottom: 67px;
    .desc {
      max-width: 544px;
    }
    svg {
      top: 10px;
      left: 36px;
    }
  }
  &__two {
    margin-left: auto;
    margin-bottom: 97px;
    .desc {
      max-width: 504px;
    }
    svg {
      top: -20px;
      left: 10px;
    }
  }
}

.card {
  position: relative;
  width: 100%;
  height: 319px;
  padding: 33px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  z-index: 1;
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    z-index: -2;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(78, 66, 148, 0.7), rgba(78, 66, 148, 0.7));
    mix-blend-mode: normal;
    z-index: -1;
  }
  .h2 {
    margin-bottom: 32px;
  }
  .desc {
    padding-left: 96px;
    max-width: 416px;
  }
}

.cup {
  position: relative;
  padding-left: 6px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -10px;
  z-index: 4;
  &__img {
    margin-right: 6px;
  }
  .dashed {
    margin: 0 30px 0 20px;
  }
  &__link {
    position: relative;
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    line-height: 115.19%;
    padding-bottom: 6px;
    border-bottom: 1px solid #000;
    text-decoration: none;
    color: #333333;
    &::before {
      content:"";
      width: 35px;
      height: 35px;
      border-radius: 35px;
      background: #F6E871;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: -18px;
      z-index: -1;
      transition: all 0.3s;
    }
    &:hover {
      &::before {
        width: calc(100% + 18px);
        left: -9px;
      }
    }
  }
}
.dashed {
  flex: 1;
  border-bottom: 1px dashed #000;
}

.abs-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.cards5d {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.card5d {
  position: relative;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin: 0 10px 20px;
  width: calc((100% - 80px)/4);
  height: 265px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  transition: all 0.3s;
  path {
    transition: all 0.3s;
  }
  .name {
    font-size: 22px;
    font-family: "CirceBold", sans-serif;
    font-weight: 700;

  }
  &__fon {
    position:absolute;
    width: 150px;
    height: 150px;
    top: 0;
    bottom: 0;
    right: 57px;
    margin: auto;
  }
  &:nth-child(1) {
    width: calc((100% - 40px)/2);
  }
  &:nth-child(2) {
    margin-right: calc((100% - 80px)/4);
  }
  &:last-child {
    background-color: #FFE267;
    svg {
      transition: all 0.3s;
      margin-left: 0;
    }
  }
  &:hover {
    background-color: #FFE267;
    path {
      fill: #ffffff;
    }
    &:last-child {
      background-color: #FFE267;
      svg {
        margin-left: 70%;
      }
    }
  }

}

.vertical-point {
  position: absolute;
  top: 16%;
  left: 35%;
  height: 266px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .dashed {
    border-left: 1px dashed #000;
  }
}
.point {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #FF7B9A;
}

@media (max-width: 1136px) {
  .blockInf__desc {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .blockInf__desc {
    padding: 35px 0 35px 25px;
  }
  .blockInf-icon {
    top: -10%;
    width: 150px;
    height: 180px;
  }
  .page__fon {
    position: absolute;
    top: 10%;
    left: -20%;
  }
  .vertical-point {
    left: 31%;
    top: 13%;
  }
  .yearBox__two .desc {
    max-width: 435px;
  }
  .yearBox__one .desc {
    max-width: 455px;
  }
  .blockInf .yearBox {
    height: 366px;
  }
  .card {
    padding-left: 64px;
    .desc {
      padding-left: 0;
      max-width: 416px;
    }
  }
  .card5d {
    width: calc((100% - 60px)/3);
    height: 231px;
    svg {
      height: 144px;
    }
    &:nth-child(1) {
      width: calc((100% - 60px)/3);
    }
    &:nth-child(2) {
      margin-right: 10px;
    }
    &__fon {
      display: none;
    }
  }
  .page {
    padding: 90px 0 150px;
  }


}
@media (max-width: 680px) {
  .yearBox__one svg {
    top: -37px;
    left: -65px;
  }
  .yearBox__one .desc {
    max-width: 394px;
    padding-left: 30px;
  }
  .fz16 {
    font-size: 12px;
  }
  .yearBox__one {
    width: 100%;
    margin-bottom: 196px;
  }
  .yearBox__two .desc {
    max-width: 220px;
    padding-left: 30px;
  }
  .vertical-point {
    left: 14%;
    top: 10%;
    height: 222px;
  }
  .yearBox__two svg {
    top: 49px;
    left: -85%;
    transform: rotate(-138deg);
  }
  .blockInf__left {
    display: contents;
  }
  .blockInf .yearBox .desc {
    max-width: 328px;
    padding-left: 30px;
  }
  .blockInf .yearBox {
    height: auto;
    margin-bottom: 56px;
    order: 1;
  }
  .blockInf__right {
    width: 100%;
    order: 2;
  }
  .container {
    padding: 0 20px;
  }
  .blockInf__desc {
    z-index: -1;
    padding: 46px 25px 65px;
    margin: -30px -20px 0;
    width: calc(100% + 40px);
  }
  .cup {
    position: absolute;
    width: 100%;
    bottom: -55px;
    justify-content: space-between;
    .dashed {
      display: none;
    }
  }
  .card {
    order: 3;
    margin: 0 -20px;
    width: calc(100% + 40px);
    border-radius: 0;
    &__img {
      border-radius: 0;
    }
  }
  .page__fon {
    position: absolute;
    top: 23%;
    left: auto;
    right: -50%;
  }
  .cards5d {
    margin: 0 -5px;
  }
  .card5d {
    width: calc((100% - 20px)/2);
    height: 145px;
    padding: 11px;
    margin: 0 5px 10px;
    .name {
      font-size: 12px;
    }
    svg {
      height: 80px;
      width: 55px;
    }
    &:nth-child(1) {
      width: calc((100% - 20px)/2);
    }
    &:nth-child(2) {
      margin-right: 5px;
    }
  }
  .blockInf-icon {
    top: 41%;
    width: 94px;
    height: 111px;
    right: 0;
    left: auto;
  }
}